@model IEnumerable<Services.Models.User>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>
                    <button onclick="deleteUser(@user.Id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>